<% layout %>
<footer class="footer py-3 mt-auto">
    <div class="container">
        <span class="text-secondary">&copy;TV SHOW 2025</span>
    </div>
</footer>

<style>
    .footer{
      background-color: rgba(79, 2, 2, 0.878);
    }
  </style>